.app {
  background-color: whitesmoke;
  min-height: 100vh;
}
.item {
  border-radius: 10px;
  padding: 5px;
  background-color: white;
}

.link {
  text-decoration: none;
  transition: 0.2s;
}
.link:hover {
  color: black;
}
.select-btn {
  height: 30px;
  border: none;
  outline: none;
}
